<div class="flex flex-row bg-stone-50 shadow-md">
	<img
		src="<%= item.dish.image_url %>"
		class="lg:object-cover h-auto flex-1 grow-[1] min-w-0 aspect-square" />
	<div class="flex flex-col flex-1 min-w-0 p-4 grow-[2]">
		<p class="text-xs lg:text-sm italic capitalize"><%= category.name %></p>
		<p
			class="transition-all text-sm lg:text-xl capitalize truncate max-w-[66%]">
			<%= item.dish.title %>
		</p>
		<hr class="border-0 border-b border-stone-900 opacity-80 py-1" />
		<div class="flex flex-col justify-between flex-1">
			<div class="flex flex-row py-4 gap-4">
				<p class="text-sm lg:text-base font-bold">Addons</p>
				<div class="flex flex-col gap-2">
					<% item.addons.forEach((addon) => { %>
					<div class="flex flex-row justify-start gap-4">
						<p class="text-sm lg:text-base">+$<%= addon.price %></p>
						<p class="text-sm lg:text-base"><%= addon.name %></p>
					</div>
					<% }) %>
				</div>
			</div>
			<div class="flex flex-row gap-4">
				<p class="text-sm lg:text-base font-bold">Additional Notes:</p>
				<p class="text-sm lg:text-base"><%= item.note %></p>
			</div>
		</div>
	</div>
	<div
		class="flex flex-col flex-1 grow-[1] justify-between items-end font-serif p-4">
		<form action="/bag/del" method="post">
			<input type="hidden" name="_id" value="<%= item._id %>" />
			<button type="submit">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
				</svg>
			</button>
		</form>
		<div class="flex flex-row justify-end items-end gap-4">
			<p class="italic text-sm lg:text-base">Qt. <%= item.quantity %></p>
			<p class="text-xl lg:text-3xl">$<%= item.price.toFixed(2) %></p>
		</div>
	</div>
</div>
