<div
	class="flex flex-row lg:flex-col bg-stone-50 text-stone-900 transition-all shadow-md justify-between relative">
	<img
		src="<%= food.image_url %>"
		class="lg:object-cover h-auto w-2/6 lg:w-full aspect-square" />
	<div
		class="w-4/6 lg:w-full transition-all flex flex-col justify-between gap-1 lg:gap-2 flex-1 p-2 lg:p-4">
		<div>
			<div class="flex flex-col justify-between">
				<p class="text-xs lg:text-sm italic capitalize">
					<%= category.name %>
				</p>
				<div class="flex flex-row justify-between">
					<p
						class="transition-all text-sm lg:text-xl capitalize truncate">
						<%= food.title %>
					</p>
					<p class="text-xs lg:text-base italic font-light">
						$<%= food.price %>
					</p>
				</div>
			</div>
			<div class="flex">
				<p
					class="transition-all overflow-hidden text-2xs lg:text-xs italic text-stone-900 break-words opacity-80 line-clamp-3 lg:line-clamp-6 flex-auto">
					<%= food.description -%>
				</p>
			</div>
		</div>
		<div class="flex flex-row gap-2 place-self-end justify-self-center">
			<button
				class="flex items-center justify-center text-xs md:text-sm lg:text-base hover:text-primary transition-all"
				type="button"
				data-te-toggle="modal"
				data-te-target="#modal_<%= food._id %>">
				Customize
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					class="w-2 lg:w-4 h-3 lg:h-6 drop-shadow-md">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M8.25 4.5l7.5 7.5-7.5 7.5" />
				</svg>
			</button>
			<form action="/menu" target="noneFrame" method="post">
				<input type="hidden" name="foodId" value="<%= food._id %>" />
				<input type="hidden" name="quantity" value="1" />
				<button
					type="submit"
					class="transition-all border border-stone-900 hover:border-primary hover:text-black bg-transparent hover:bg-primary text-stone-900 hover:text-stone-50 p-1 lg:p-2 text-xs md:text-sm lg:text-base flex flex-row gap-1 lg:gap-2 items-center">
					Add to
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-4 h-4 lg:w-6 lg:h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
					</svg>
				</button>
			</form>
		</div>
	</div>
	<%- include('food-modal', { food, category }) %>
</div>
