<!DOCTYPE html>
<html lang="en" class="scroll-p-16 snap-y snap-mandatory">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="font-sans text-stone-900 bg-gray-100">
    <%- include('./partials/navbar'); %>
    <div
      class="flex text-center justify-center items-center overflow-hidden relative w-full h-full-with-nav snap-start"
    >
      <div class="p-8 overflow-hidden flex flex-col h-full w-full">
        <h1 class="mx-4 my-4 text-3xl">Today</h1>
        <hr class="my-4 mb-8 border-0 border-b-2 border-stone-600" />
        <div
          class="px-4 flex flex-col gap-4 w-full md:w-1/2 overflow-y-auto flex-1"
        >
          <% order.forEach((item) => { %>
            <div class="grid grid-cols-2 bg-white drop-shadow-sm w-auto h-auto border-2 border-stone-600 p-2">
                <div class="text-left">
                  <p>#<%= item.order_id %></p>
                </div>
                <div class=" text-right flex gap-2 justify-end" id="name">
                  <p>To.</p>
                  <p class="font-light"><%= item.user_name %></p>
                  <p class="font-light"><%= item.user_lastname %></p>
                </div>
                <div class="col-span-2">
                  <div class="text-left">
                    <p class="font-medium">Address</p>
                  </div>
                  <div>
                    <hr class="border-0 border-b border-stone-600" />
                  </div>
                  <div class="p-4 pl-10">
                    <div class="flex gap-2">
                      <p>At</p>
                      <p class="font-light"><%= item.address.at %></p>
                    </div>
                    <div class="flex gap-2">
                      <p>House number</p>
                      <p class="font-light"><%= item.address.house_number %></p>
                    </div>
                    <div class="flex gap-2">
                      <p>City</p>
                      <p class="font-light"><%= item.address.city %></p>
                    </div>
                    <div class="flex gap-2">
                      <p>Post code</p>
                      <p class="font-light"><%= item.address.post_code %></p>
                    </div>
                  </div>
                </div>
                <div class="col-span-2 grid grid-cols-2">
                  <div class="gap-2 flex pl-5">
                    <p>Payment method:</p>
                    <p class="font-light"><%= item.payment %></p>
                  </div>
                  <div class="text-right">
                    <button class="bg-primary h-8 w-24">
                      <p class="text-sm"><%= item.status %></p>
                    </button>
                  </div>
                </div>
              </div>
              
          <% }); %>
        </div>
      </div>
    </div>
  </body>
  <footer><%- include('./partials/footer'); %></footer>
</html>
