<!DOCTYPE html>
<html lang="en" class="scroll-p-16 snap-y snap-mandatory">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="font-sans text-stone-900 bg-gray-100">
		<%- include('./partials/navbar'); %>
		<div
			class="flex text-center justify-center items-center overflow-hidden relative w-full h-full-with-nav snap-start">
			<div class="w-full h-full p-4">
				<div
					class="bg-white w-full h-full drop-shadow-sm border-2 border-stone-600 p-4">
					<div class="text-left"><p class="text-2xl">History</p></div>
					<div class="grid grid-cols-4 gap-2 m-4">
						<!-- Doing task -->
						<% let currentDate = null; %> <% order.sort((a, b) =>
						new Date(a.order_date) - new
						Date(b.order_date)).forEach((item) => { %> <% if
						(item.status === "Done") { %> <% if (currentDate !==
						item.order_date) { %>
						<div class="col-span-4 text-left mb-4">
							<p><%= item.order_date %></p>
							<hr class="border-0 border-b-2 border-stone-600" />
						</div>
						<% currentDate = item.order_date; %> <% } %>
						<div
							class="min-h-16 p-2 flex flex-col justify-center border-2 border-stone-600 mb-4"
							id="<%= item.order_id %>">
							<div class="text-left mb-4">
								#<%= item.order_id %>
							</div>
							<div class="ml-2 mr-2">
								<% if (item.order_list.length > 1) { %>
								<div class="text-left">Orders</div>
								<% } else { %>
								<div class="text-left">Order</div>
								<% } %>
								<hr
									class="border-0 border-b-2 border-stone-600" />
								<div class="flex justify-between">
									<div class="m-4 text-left">
										<% item.order_list.forEach((menu, index)
										=> { %>
										<p>
											<%= index + 1 %>. <%= menu.menu_name
											%>
										</p>
										<% }); %>
									</div>
									<div class="m-4 text-right">
										<% item.order_list.forEach((menu) => {
										%>
										<p>x <%= menu.quantity %></p>
										<% }); %>
									</div>
								</div>
							</div>
						</div>
						<% } %> <% }); %>
					</div>
				</div>
			</div>s
		</div>
	</body>
</html>
