<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="flex flex-col font-sans text-stone-50 bg-news relative">
		<%- include('./partials/navbar'); %> <%-
		include('./partials/promotion'); %>
		<div class="m-4 md:m-8 flex flex-col text-stone-900 gap-4">
			<p class="font-semibold">Categories</p>
			<div class="px-4">
				<div
					class="w-full snap-x snap-proximity flex flex-row gap-2 overflow-x-scroll xl:overflow-hidden md:flex md:flex-row md:justify-between pt-2 pb-4">
					<% categories.forEach((cat) => { %>
					<a
						href="/menu?category=<%= cat.id %>"
						class="min-w-[180px] xl:flex-1 snap-center">
						<div
							class="p-1 md:p-2 shadow-md bg-stone-50 text-center text-xs md:text-base">
							<%= cat.name %>
						</div>
					</a>
					<% }); %>
				</div>
			</div>
			<div
				class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-4 md:gap-8">
				<% food_list.forEach((food) => { %> <%-
				include('./partials/card', {food, category:
				categories.find((cat) => {return cat.id === food.category})});
				%> <% }); %>
			</div>
		</div>
	</body>
	<footer><%- include('./partials/footer'); %></footer>
</html>
