<!DOCTYPE html>
<html lang="en" class="scroll-p-16 snap-y snap-mandatory">
	<head>
		<%- include('./partials/head'); %>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body class="font-sans text-stone-900 bg-gray-100">
		<%- include('./partials/navbar'); %>
		<div
			class="flex text-center justify-center items-center overflow-hidden relative w-full h-full-with-nav snap-start p-4 gap-4">
			<div class="flex w-full h-full flex-1 min-w-0">
				<div
					class="bg-white w-full h-full drop-shadow-sm border shadow-md p-4 overflow-y-auto"
					id="todo">
					<div class="text-left mb-4">
						<p class="text-2xl">On Queue</p>
					</div>
					<% orders.forEach((order) => { %> <% if (order.status == 0)
					{ %>
					<div
						class="min-h-16 p-2 flex flex-col justify-center border border-stone-600 mb-4"
						draggable="true"
						id="<%= order._id %>">
						<hr
							class="border border-stone-600 rounded-lg w-2/5 self-center" />
						<div class="text-left mb-4">#<%= order._id %></div>
						<div class="ml-2 mr-2">
							<% if (order.items.length > 1) { %>
							<div class="text-left">Orders</div>
							<% } else { %>
							<div class="text-left">Order</div>
							<% } %>
							<hr class="border-0 border-b-2 border-stone-600" />
							<div class="flex flex-col gap-1 py-2">
								<% order.items.forEach(item => { %>
								<div
									class="text-left px-4 flex flex-row justify-between items-center">
									<div class="flex flex-col max-w-[66%]">
										<p
											class="text-sm lg:text-base truncate">
											<%= item.dish.title %>
										</p>
										<% item.addons.forEach(addon => { %>
										<p class="pl-4 text-sm lg:text-base">
											+ <%= addon.name %>
										</p>
										<% }) %> <% if (item.note) { %>
										<p
											class="text-sm lg:text-base italic opacity-70">
											"<%=item.note %>"
										</p>
										<% } %>
									</div>
									<div class="flex flex-col items-end">
										<p class="text-2xs lg:text-xs">
											Qt. <%= item.quantity %>
										</p>
										<p class="text-sm lg:text-base">
											$<%= item.price.toFixed(2) %>
										</p>
									</div>
								</div>
								<hr
									class="border-0 border-b border-stone-200 brightness-90 flex-1 mx-4 last-of-type:hidden" />
								<% }) %>
							</div>
						</div>
					</div>
					<% } %> <% }); %>
				</div>
			</div>
			<div class="flex w-full h-full flex-1 min-w-0">
				<div
					class="bg-white w-full h-full drop-shadow-sm border shadow-md p-4 overflow-y-auto"
					id="doing">
					<div class="text-left mb-4">
						<p class="text-2xl">Preparing</p>
					</div>
					<% orders.forEach((order) => { %> <% if (order.status == 1)
					{ %>
					<div
						class="min-h-16 p-2 flex flex-col justify-center border border-stone-600 mb-4"
						draggable="true"
						id="<%= order._id %>">
						<hr
							class="border border-stone-600 rounded-lg w-2/5 self-center" />
						<div class="text-left mb-4">#<%= order._id %></div>
						<div class="ml-2 mr-2">
							<% if (order.items.length > 1) { %>
							<div class="text-left">Orders</div>
							<% } else { %>
							<div class="text-left">Order</div>
							<% } %>
							<hr class="border-0 border-b-2 border-stone-600" />
							<div class="flex flex-col gap-1 py-2">
								<% order.items.forEach(item => { %>
								<div
									class="text-left px-4 flex flex-row justify-between items-center">
									<div class="flex flex-col max-w-[66%]">
										<p
											class="text-sm lg:text-base truncate">
											<%= item.dish.title %>
										</p>
										<% item.addons.forEach(addon => { %>
										<p class="pl-4 text-sm lg:text-base">
											+ <%= addon.name %>
										</p>
										<% }) %> <% if (item.note) { %>
										<p
											class="text-sm lg:text-base italic opacity-70">
											"<%=item.note %>"
										</p>
										<% } %>
									</div>
									<div class="flex flex-col items-end">
										<p class="text-2xs lg:text-xs">
											Qt. <%= item.quantity %>
										</p>
										<p class="text-sm lg:text-base">
											$<%= item.price.toFixed(2) %>
										</p>
									</div>
								</div>
								<hr
									class="border-0 border-b border-stone-200 brightness-90 flex-1 mx-4 last-of-type:hidden" />
								<% }) %>
							</div>
						</div>
					</div>
					<% } %> <% }); %>
				</div>
			</div>
			<div class="flex w-full h-full flex-1 min-w-0">
				<div
					class="bg-white w-full h-full drop-shadow-sm border shadow_md p-4 overflow-y-auto"
					id="done">
					<div class="text-left mb-4">
						<p class="text-2xl">Done</p>
					</div>
					<% orders.forEach((order) => { %> <% if (order.status == 2)
					{ %>
					<div
						class="min-h-16 p-2 flex flex-col justify-center border border-stone-600 mb-4"
						draggable="true"
						id="<%= order._id %>">
						<hr
							class="border border-stone-600 rounded-lg w-2/5 self-center" />
						<div class="text-left mb-4">#<%= order._id %></div>
						<div class="ml-2 mr-2">
							<% if (order.items.length > 1) { %>
							<div class="text-left">Orders</div>
							<% } else { %>
							<div class="text-left">Order</div>
							<% } %>
							<hr class="border-0 border-b-2 border-stone-600" />
							<div class="flex flex-col gap-1 py-2">
								<% order.items.forEach(item => { %>
								<div
									class="text-left px-4 flex flex-row justify-between items-center">
									<div class="flex flex-col max-w-[66%]">
										<p
											class="text-sm lg:text-base truncate">
											<%= item.dish.title %>
										</p>
										<% item.addons.forEach(addon => { %>
										<p class="pl-4 text-sm lg:text-base">
											+ <%= addon.name %>
										</p>
										<% }) %> <% if (item.note) { %>
										<p
											class="text-sm lg:text-base italic opacity-70">
											"<%=item.note %>"
										</p>
										<% } %>
									</div>
									<div class="flex flex-col items-end">
										<p class="text-2xs lg:text-xs">
											Qt. <%= item.quantity %>
										</p>
										<p class="text-sm lg:text-base">
											$<%= item.price.toFixed(2) %>
										</p>
									</div>
								</div>
								<hr
									class="border-0 border-b border-stone-200 brightness-90 flex-1 mx-4 last-of-type:hidden" />
								<% }) %>
							</div>
						</div>
					</div>
					<% } %> <% }); %>
				</div>
			</div>
		</div>
		<script defer>
			const draggableElements =
				document.querySelectorAll('[draggable="true"]');
			const dropZones = document.querySelectorAll("#todo, #doing, #done");

			draggableElements.forEach((element) => {
				element.addEventListener("dragstart", (event) => {
					event.dataTransfer.setData("text/plain", event.target.id);
				});
			});

			dropZones.forEach((zone) => {
				zone.addEventListener("dragover", (event) => {
					event.preventDefault();
				});

				zone.addEventListener("dragenter", (event) => {
					event.preventDefault();
				});

				zone.addEventListener("drop", async (event) => {
					event.preventDefault();
					const data = event.dataTransfer.getData("text/plain");
					const draggedElement = document.getElementById(data);
					const headers = {
						"Content-Type": "application/json",
					};
					const params = new URLSearchParams();
					params.append("_id", data);
					params.append("status", zone.id === "todo"
								? 0
								: zone.id === "doing"
								? 1
								: 2,);
					await axios
						.post("/restaurant", params)
						.then((res) => console.log(res))
						.catch((err) => console.log(err));
					zone.appendChild(draggedElement);
				});
			});
		</script>
	</body>
</html>
