<!DOCTYPE html>
<html lang="en" class="scroll-p-16 snap-y snap-mandatory">
	<head>
		<%- include('./partials/head'); %>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body class="font-sans text-stone-900 bg-gray-100">
		<%- include('./partials/navbar'); %>
		<div
			class="flex text-center justify-center items-center overflow-x-hidden relative w-full h-full-with-nav snap-start">
			<div class="w-full h-full p-4">
				<div class="w-full h-full">
					<div
						class="grid grid-cols-1 w-full h-full lg:grid-cols-2 gap-4">
						<div
							class="bg-white shadow-md border-1 border-stone-600 p-4 flex flex-col gap-2">
							<div class="text-left">
								<p class="text-3xl">Daily</p>
							</div>
							<div class="text-left">
								<p class="text-xl">Best Selling Dishes</p>
								<hr
									class="border-0 border-b border-stone-600" />
							</div>
							<div
								class="grid grid-cols-4 gap-4 w-full text-left px-4 py-2">
								<% best_selling.forEach((dish) => { %>
								<div
									class="flex flex-col first-of-type:col-span-4">
									<p class="truncate"><%= dish.title %></p>
									<p class="px-4 text-3xl">
										<%= dish.count %>
									</p>
								</div>
								<% }) %>
							</div>
							<div class="flex flex-row justify-center">
								<canvas
									class="p-10 w-2/3"
									id="chartPie"></canvas>
							</div>
							<div class="text-left">
								<p class="text-xl">Summaries</p>
								<hr
									class="border-0 border-b border-stone-600" />
							</div>
							<div
								class="text-left px-4 py-2 flex flex-row items-center gap-2 justify-between">
								<p>Total Income</p>
								<hr
									class="border-0 border-b border-stone-400 flex-1 border-dotted mx-2" />
								<p class="text-3xl">
									$<%= sums[0].income.toFixed(2) %>
								</p>
							</div>
							<div
								class="text-left px-4 py-2 flex flex-row items-center gap-2 justify-between">
								<p>Total Orders Served</p>
								<hr
									class="border-0 border-b border-stone-400 flex-1 border-dotted mx-2" />
								<p class="text-3xl"><%= sums[0].count %></p>
							</div>
							<div
								class="text-left px-4 py-2 flex flex-row items-center gap-2 justify-between">
								<p>Average Income per Orders Served</p>
								<hr
									class="border-0 border-b border-stone-400 flex-1 border-dotted mx-2" />
								<p class="text-3xl">
									$<%=
									(sums[0].income/sums[0].count).toFixed(2) %>
								</p>
							</div>
						</div>
						<div class="grid grid-rows-2 gap-4">
							<div class="grid grid-cols-2 gap-4">
								<div
									class="bg-white shadow-md border-1 border-stone-600 p-4">
									<div class="text-left">
										<p class="text-xl">Monthly</p>
									</div>
								</div>
								<div
									class="bg-white shadow-md border-1 border-stone-600 p-4">
									<div class="text-left">
										<p class="text-xl">Yearly</p>
									</div>
								</div>
							</div>
							<div class="grid grid-rows-2 gap-4">
								<div
									class="bg-white shadow-md border-1 border-stone-600 p-4">
									<div class="text-left">
										<p class="text-xl">Mostly</p>
									</div>
								</div>
								<div
									class="bg-white shadow-md border-1 border-stone-600 p-4">
									<div class="text-left">
										<p class="text-xl">Customer support</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script defer>
			var best_selling_today = JSON.parse(
				`<%- JSON.stringify(best_selling) %>`
			);
			console.log(best_selling_today);
			const dataPie = {
				labels: best_selling_today.map((dish) => {
					return dish.title;
				}),
				datasets: [
					{
						label: "Today",
						data: best_selling_today.map((dish) => {
							return dish.count;
						}),
						backgroundColor: [
							"rgb(133, 105, 241)",
							"rgb(164, 101, 241)",
							"rgb(101, 143, 241)",
							"rgb(101, 241, 241)",
							"rgb(101, 241, 143)",
						],
						hoverOffset: 4,
					},
				],
			};

			const configPie = {
				type: "pie",
				data: dataPie,
				options: {
					responsive: false,
				},
			};

			var chartBar = new Chart(
				document.getElementById("chartPie"),
				configPie
			);
		</script>
	</body>
</html>
